<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>FUAL</title>

  <!-- Bootstrap core CSS -->
  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/styles.css" rel="stylesheet">
    <style type="text/css">
        .link {
            color: #007bff;
            text-decoration: none;
        }
        
        .link:hover {
            color: #007bff;
            text-decoration: none;
        }
        
        .box-left {
            float: right;
            margin-right: 2px;
            margin-bottom: 6px;
            margin-top: -14px;
        }
        
        .separator {
        }
    </style>
</head>

<body class="text-center">
  <div class="container">
    <h1>FUAL</h1>
    <p>Formulario unico de alumnos</p>
    <form action="{{url_for('main')}}" method="POST" class="form-signin">
      <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Por favor, Iniciar Sesion</h1>
      <label for="inputEmail" class="sr-only">Email addres</label>
      <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <br>
          <div class="checkbox mb-3">
            <label style="float: left;">
              <input type="checkbox" value="remember-me"> Recordarme
            </label>
          </div>
          <div class="box-left">
            <label style="float: left;">
              <a class="primary link" type="submit" href="/crearCuenta" >Crear cuenta</a>
            </label>
          </div>
      <br>
      <input class="btn btn-primary btn-block" type="submit" value="INGRESAR">
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </div>

  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
  </html>
