* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
}

.LoginForm {
    width: 360px;
    height: 300px;
    background-color: #ece9e6;
    padding: 40px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(61,61,61,1);
    -moz-box-shadow: 0px 4px 6px 0px rgba(61,61,61,1);
    box-shadow: 0px 4px 6px 0px rgba(61,61,61,1);
}

.LoginForm h1 {
    text-align: center;
    margin-bottom: 64px;
}

.txtb {
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
}

.txtb input {
    font-size: 15px;
    color: #333333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

.txtb span::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}

.txtb span::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: linear-gradient(120deg,#25d366,#075e54);
    transition: .5s;
}

.focus + span::before {
    top: -5px;

}

.focus + span::after {
    width: 100%;
}

#submit {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    color: #ffffff;
    background: #25d366;
    outline: none;
    cursor: pointer;
    transition: .5s;
    font-size: 15px;
}

#submit:hover {
    background: #075e54;
}

/***************************************
 *            CHAT SECTION
 ***************************************/
#sidebar {
    width: 25%;
    margin-right: 0px;
    float: left;
    padding: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: -1;
}

#sidebar nobr {
    margin-bottom: 10px;
    margin-left: -12px;
    color: #313131;
    clear: both;
    float: left;
    padding-bottom: 6px;
    width: 112%;
}

#sidebar nobr i {
    margin-right: 14px;
    margin-left: 18px;
    color: #909ba1;
    font-size: 42px;
}

#sidebar text {
    position: absolute;
    transform: translateY(60%);
}

#sidebar dot {
    z-index: 199;
    position: absolute;
    left: 0px;
    transform: translate(47px,15px);
    color: #82bf1a;
    font-size: 42px;
    text-shadow: 5px 5px 0 #dedede, 5px -5px 0 #dedede, -5px -5px 0 #dedede, -5px 5px 0 #dedede, 5px 4px 0 #dedede, 5px -4px 0 #dedede, -5px -4px 0 #dedede, -5px 4px 0 #dedede, 5px 3px 0 #dedede, 5px -3px 0 #dedede, -5px -3px 0 #dedede, -5px 3px 0 #dedede, 5px 2px 0 #dedede, 5px -2px 0 #dedede, -5px -2px 0 #dedede, -5px 2px 0 #dedede, 5px 1px 0 #dedede, 5px -1px 0 #dedede, -5px -1px 0 #dedede, -5px 1px 0 #dedede, 5px 0px 0 #dedede, 5px 0px 0 #dedede, -5px 0px 0 #dedede, -5px 0px 0 #dedede, 4px 5px 0 #dedede, 4px -5px 0 #dedede, -4px -5px 0 #dedede, -4px 5px 0 #dedede, 4px 4px 0 #dedede, 4px -4px 0 #dedede, -4px -4px 0 #dedede, -4px 4px 0 #dedede, 4px 3px 0 #dedede, 4px -3px 0 #dedede, -4px -3px 0 #dedede, -4px 3px 0 #dedede, 4px 2px 0 #dedede, 4px -2px 0 #dedede, -4px -2px 0 #dedede, -4px 2px 0 #dedede, 4px 1px 0 #dedede, 4px -1px 0 #dedede, -4px -1px 0 #dedede, -4px 1px 0 #dedede, 4px 0px 0 #dedede, 4px 0px 0 #dedede, -4px 0px 0 #dedede, -4px 0px 0 #dedede, 3px 5px 0 #dedede, 3px -5px 0 #dedede, -3px -5px 0 #dedede, -3px 5px 0 #dedede, 3px 4px 0 #dedede, 3px -4px 0 #dedede, -3px -4px 0 #dedede, -3px 4px 0 #dedede, 3px 3px 0 #dedede, 3px -3px 0 #dedede, -3px -3px 0 #dedede, -3px 3px 0 #dedede, 3px 2px 0 #dedede, 3px -2px 0 #dedede, -3px -2px 0 #dedede, -3px 2px 0 #dedede, 3px 1px 0 #dedede, 3px -1px 0 #dedede, -3px -1px 0 #dedede, -3px 1px 0 #dedede, 3px 0px 0 #dedede, 3px 0px 0 #dedede, -3px 0px 0 #dedede, -3px 0px 0 #dedede, 2px 5px 0 #dedede, 2px -5px 0 #dedede, -2px -5px 0 #dedede, -2px 5px 0 #dedede, 2px 4px 0 #dedede, 2px -4px 0 #dedede, -2px -4px 0 #dedede, -2px 4px 0 #dedede, 2px 3px 0 #dedede, 2px -3px 0 #dedede, -2px -3px 0 #dedede, -2px 3px 0 #dedede, 2px 2px 0 #dedede, 2px -2px 0 #dedede, -2px -2px 0 #dedede, -2px 2px 0 #dedede, 2px 1px 0 #dedede, 2px -1px 0 #dedede, -2px -1px 0 #dedede, -2px 1px 0 #dedede, 2px 0px 0 #dedede, 2px 0px 0 #dedede, -2px 0px 0 #dedede, -2px 0px 0 #dedede, 1px 5px 0 #dedede, 1px -5px 0 #dedede, -1px -5px 0 #dedede, -1px 5px 0 #dedede, 1px 4px 0 #dedede, 1px -4px 0 #dedede, -1px -4px 0 #dedede, -1px 4px 0 #dedede, 1px 3px 0 #dedede, 1px -3px 0 #dedede, -1px -3px 0 #dedede, -1px 3px 0 #dedede, 1px 2px 0 #dedede, 1px -2px 0 #dedede, -1px -2px 0 #dedede, -1px 2px 0 #dedede, 1px 1px 0 #dedede, 1px -1px 0 #dedede, -1px -1px 0 #dedede, -1px 1px 0 #dedede, 1px 0px 0 #dedede, 1px 0px 0 #dedede, -1px 0px 0 #dedede, -1px 0px 0 #dedede, 0px 5px 0 #dedede, 0px -5px 0 #dedede, 0px -5px 0 #dedede, 0px 5px 0 #dedede, 0px 4px 0 #dedede, 0px -4px 0 #dedede, 0px -4px 0 #dedede, 0px 4px 0 #dedede, 0px 3px 0 #dedede, 0px -3px 0 #dedede, 0px -3px 0 #dedede, 0px 3px 0 #dedede, 0px 2px 0 #dedede, 0px -2px 0 #dedede, 0px -2px 0 #dedede, 0px 2px 0 #dedede, 0px 1px 0 #dedede, 0px -1px 0 #dedede, 0px -1px 0 #dedede, 0px 1px 0 #dedede, 0px 0px 0 #dedede, 0px 0px 0 #dedede, 0px 0px 0 #dedede, 0px 0px 0 #dedede, 0 0 0 #dedede;
}

#sidebar h1 {
    font-size: 18px;
    margin-bottom: 12px;
    color: #6b757a;
    text-transform: uppercase;
    font-weight: 400;
}

#chat {
    overflow-y: scroll;
    overflow-x: hidden;
    background: #ece5dd;
    /*height: 76vh;
    max-height: 76vh;*/
    height: calc(100vh - 144px);;
    /* testing section */
    width: 73%;
    margin-left: 25%;
    position: absolute;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    padding: 12px;
    -webkit-box-shadow: inset 0px -12px 18px -13px rgba(163,163,163,1);
    -moz-box-shadow: inset 0px -12px 18px -13px rgba(163,163,163,1);
    box-shadow: inset 0px -12px 18px -13px rgba(163,163,163,1);
}

#chat::-webkit-scrollbar, #sidebar::-webkit-scrollbar {
    width: 6px;
    background-color: #d9d9d9;
}

#chat::-webkit-scrollbar-thumb, #sidebar::-webkit-scrollbar-thumb {
    background-color: #909090;
}

#chat::-webkit-scrollbar-track, #sidebar::-webkit-scrollbar-track {
    background-color: #d9d9d9;
}

#chat .info {
    position: relative;
    float: left;
    clear: both;
    background: #e2f3fa;
    color: #53646c;
    padding: 12px;
    margin-bottom: 6px;
    border-radius: 6px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(163,163,163,1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(163,163,163,1);
    box-shadow: 0px 2px 4px 0px rgba(163,163,163,1);
    z-index: 99;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: flex-start;
    background-color: #128c7e;
    color: #ffffff;
}

.navbar nav-title {
    background-color: #075e54;
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: -16px;
    margin-right: 12px;
    margin-top: -8px;
    margin-bottom: -8px;
}

.navbar h1 {
    color: #ffffff;
    font-weight: lighter;
}

#text {
    display: block;
    width: calc(100% - 90px);
    height: 1.8em;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.sendmsg {
    width: 73%;
    margin-left: 25%;
    background: #edecea;
    padding: 12px 12px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    clear: both;
    position: fixed;
    bottom: 0;
}

.actionbox {
    color: #ffffff;
    font-size: 22px;
    right: 0px;
    margin-right: 12px;
    position: absolute;
}

.actionbox a {
    margin-right: 12px;
    text-decoration: none;
}

.actionbox .action-item:hover {
    cursor: pointer;
}

.actionbox .action-item:visited, .actionbox .action-item:link {
    color: #ffffff;
}

.snedicon {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 22px;
    color: #a09e9e;
    margin-right: 1.2em;
    margin-top: 22px;
    cursor: pointer;
}

.personName {
    padding-left: 0px;
    font-weight: 600;
    
}

.personSay {
    padding-left: 0px;
    color: #000000;
    margin-right: 64px;
}

.messageTime {
    position: absolute;
    right: 8px;
    bottom: 4px;
    margin: 0;
    color: #b5b5b5;
    font-size: 12px;
    font-weight: 400;
}

.bubble {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    float: left;
    margin: 15px 45px 5px 20px;
    border-color: #cdecb0;
    max-width: 60%;
    clear: both;
}

.bubble-arrow {
    position: absolute;
    width: 0;
    bottom: 42px;
    left: -16px;
    height: 0;
    box-shadow: -2px 2px 2px 0 rgba(178,178,178,.4);
    display: block;
}

.bubble-arrow::after {
    content: '';
    position: absolute;
    border: 0 solid transparent;
    border-top: 9px solid #ffffff;
    border-radius: 0 20px 0;
    width: 15px;
    height: 30px;
    transform: rotate(145deg);
}

/*****************
 *     MODAL 
 *****************/
 .modal {
	display: none;
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.modal-content {
	padding: 12px;
    background-color: #f0f0f0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    width: 604px;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(41,41,41,1);
    -moz-box-shadow: 0px 4px 8px 0px rgba(41,41,41,1);
    box-shadow: 0px 4px 8px 0px rgba(41,41,41,1);
}

.modal-content h1 {
    margin-top: 32px;
    margin-bottom: 20px;
    font-weight: 300;
    color: #5c5c5c;
}

.modal-content p {
    margin-bottom: 12px;
}

.closeBtn {
	background: transparent;
    border: 0px solid transparent;
    font-size: 18px;
    position: absolute;
    top: 6px;
    right: 12px;
}

.version-logo {
    width: 150px;
    float: left;
}

.version-logo img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 15px;
}

.version-description {
    margin-left: 160px;
    width: 450px;
    float: left;
}