{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }} <!-- this line inlcude all elements in the blocks defined -->
<!-- So, can include custom header using blocks -->
<style type="text/css">
    .color-subtitle {
        color: #505050;
    }
</style>
{% endblock %}
{% block content %}
<br>
<div class="welcome col-sm-4 offset-sm-4">
    <h1 class="title">MVCFlask</h1>
    <h2 class="subtitle color-subtitle">
        Welcome to the homepage
    </h2>
</div>
{% endblock %}